@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

body {
  color: #3b5a5a;
  background:transparent #fff;
  background-image: url(http://www.csszengarden.com/214/bamboo.png), url(http://www.csszengarden.com/214/gridlines.png), url(http://www.csszengarden.com/214/contours@2x.png), url(http://www.csszengarden.com/214/gridlines-opaque.png);
  background-attachment: fixed;
  font-family: 'Libre Baskerville', sans-serif;
  font-size: 70%;
  margin: 0px;
  padding: 0px;
}

a {
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(9, 1fr);
    height: auto;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

h1, h2 {
    
    margin: 0.25em;
    color: #fff;
    font-weight: normal;
}

h1::before {
  background: url(http://www.csszengarden.com/214/enso.svg);
  display: inline-block;
  position:relative;
  height:75px;
  width: 75px;
  background-size:100%;
  content: "";
  top: 15px;
  right: 10px;
}

h1 {
  color: white;
  font-size: 5em;
  
}

h2 {
  
  color: white;
  opacity: 55%;
  font-family: 'Julius Sans One', sans-serif;
  font-style: italic;
  font-size: 2.5em;
  
}

h3 {
  font-family: 'Julius Sans One', sans-serif;
  font-weight: normal;
  font-size: 30px;
}

#title {

    background-image: url(http://www.csszengarden.com/214/gridlines.png), url(http://www.csszengarden.com/214/contours@2x.png), url(http://www.csszengarden.com/214/gridlines-opaque.png), url(http://www.csszengarden.com/214/huntington.jpg);
    font-family: 'Julius Sans One', sans-serif;
    
    grid-column: 1 / 7;
    grid-row: 1 / 2;
    
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



#design {
    background-image: url(http://www.csszengarden.com/214/gridlines.png), url(http://www.csszengarden.com/214/contours@2x.png), url(http://www.csszengarden.com/214/gridlines-opaque.png), url(http://www.csszengarden.com/214/huntington.jpg);
    font-family: 'Julius Sans One', sans-serif;
    grid-column: 7 / 10;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#designs {
  
    background-color: #ffffff1a;
  
    height: 40px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    font-size: 20px;
    color:white;
}

#demo {
    background-color: #fff;
    font-size: 18px;
    padding: 60px;
    font-weight: normal;
    grid-column: 1 / 7;
    grid-row: 2 / 5;
}

ul{
    height: fit-content;
    list-style-type: none;
}

li {
     padding: 24px;
}


.book {
  color: #688486;
  font-size: 22px;
  font-family: 'Julius Sans One', sans-serif;
  text-decoration: none;
  padding-bottom: 0px;
  font-style: normal;
}

.writer {
  color: #607476;
  font-size: 18px;
  font-family: 'Libre Baskerville', sans-serif;
  text-decoration: none;
  padding-bottom: 0px; 
  font-style: normal;
}

#authors {
    background-color: #edf4f0;
    grid-column: 7 / 10;
    grid-row: 2 / 5;
    font-style: italic;
}

#participation {
    background-color: rgba(138,188,159,0.5);
    font-size: 18px;
    padding: 60px;
    font-weight: normal;
    grid-column: 1 / 7;
    grid-row: 5 / 7;
}

#links {
    background-color: rgba(165, 165, 164, 0.616);
    color: #607475;
    text-decoration: none;
    grid-column: 7 / 10;
    grid-row: 5 / 7;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 22px;
    padding-bottom: 0px;

}



a {
  color: #607476;
}

#requirements {
    background-color: #fff;
    font-size: 18px;
    padding: 60px;
    font-weight: normal;
    grid-column: 1 / 7;
    grid-row: 7 / 9;
}

#space {
    background-color: #edf4f0;
    grid-column: 7 / 10;
    grid-row: 7 / 9;
}

#credit {
    background-image: url(http://www.csszengarden.com/214/contours.png), url(http://www.csszengarden.com/214/gridlines.png), url(http://www.csszengarden.com/214/noise.png), url(http://www.csszengarden.com/214/koi.jpg);
    background-repeat: repeat, repeat, repeat, no-repeat;
    background-attachment: fixed, fixed, fixed, scroll;
    background-size: auto, auto, auto, cover;
    padding: 0;
    grid-column: 1 / 10;
    grid-row: 9 / 10;
}

#credits {
  color: #ffffff66;
  text-align: center;
  font-size: 35px;
  height:auto
}


#foot {
    grid-column: 1 / 10;
    grid-row: 10/11;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    height:7em;
    background-color: rgb(35, 106, 134);
}

.icons > img{
    border-radius: 40px;
    width: 46px;
    height: 46px;
    
}
.icons {
    
    width: fit-content;
    height: fit-content;
}
@media (max-width: 900px){

  .container {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(9, 1fr);
    height: 1000px;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

#designs {
  margin-left: 32%;
  margin-bottom: 50px;
}

#title {
  background-repeat:repeat, repeat, repeat, no-repeat;
  grid-row: 1 / 2;
  grid-column: 1 / 10;
}

#design {
  grid-row: 2/3;
  grid-column: 1/10;
}

#demo {
  grid-row: 3/4;
  grid-column: 1/10;
}

#authors {
  grid-row: 8/9;
  grid-column: 1/10;
}

#participation {
  grid-row: 4/5;
  grid-column: 1/10;
}

#requirements {
  grid-row: 5/6;
  grid-column: 1/10;
}
#credit {
  grid-row: 6/7;
  grid-column: 1/10;
}
#foot{
  grid-row: 7/8;
  grid-column: 1/10;
  height: 7em;
}


#links {
  grid-row: 9/10;
  grid-column: 1/10;
}

}